@model ListTableComponentViewModel
@using QuizMaster.Common
@using QuizMaster.Common.Extensions
@using QuizMaster.Common.Models
@inject ISortManager sortManager

@await Component.InvokeAsync("Pager", new { viewModel = Model.PagedViewModel })

<a asp-controller="Quiz" asp-action="Add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>

@{ 
    string sortExpression = Model.PagedViewModel.PagingAndSorting.SortExpression;
    var columnInfos = sortManager.ParseSortString(sortExpression);
}

<table class="table table-responsive table-bordered list-table">
    <thead>
        <tr>
            @foreach (var column in Model.Columns)
            {
                if (!column.Sortable)
                {
                    <th>@column.HeaderText</th>
                }
                else
                {
                    var columnName = ExpressionParser.GetPropertyStringFromExpression(column.PropertyAccessor);
                    var columnInfo = columnInfos.SingleOrDefault(x => x.Column == columnName);
                    var isInSortList = columnInfo != null;
                    <th>
                    @if (isInSortList)
                    {
                        <span class="glyphicon @(columnInfo.SortingOrder == SortingOrder.Ascending ? "glyphicon-arrow-up" : "glyphicon-arrow-down")"></span>
                    }
                    <a href="#">@column.HeaderText</a>
                    </th>
                }
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    @if (column.IsDetailLinkColumn)
                    {
                        <td><a asp-controller="@Model.Controller" asp-action="@Model.DetailAction" asp-route-id="@item.GetPropertyValue(Model.IdProperty)">
                            @item.GetPropertyValue(column.PropertyAccessor)</a></td>
                    }
                    else if (!string.IsNullOrWhiteSpace(column.Format))
                    {
                        <td>@string.Format($"{{0:{column.Format}}}", item.GetPropertyValue(column.PropertyAccessor))</td>
                    }
                    else
                    {
                        <td>@item.GetPropertyValue(column.PropertyAccessor)</td>
                    }
                }
                <td>
                    <a style="float: left; margin-right: 10px" asp-controller="@Model.Controller" asp-action="@Model.EditAction" asp-route-id="@item.GetPropertyValue(Model.IdProperty)"><span class="glyphicon glyphicon-pencil"></span></a>

                    <form style="float: left; margin-right: 10px" asp-controller="@Model.Controller" asp-action="@Model.DeleteAction" asp-route-id="@item.GetPropertyValue(Model.IdProperty)" method="post">
                        <a class="delete-button" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Component.InvokeAsync("Pager", new { viewModel = Model.PagedViewModel })