@model ShowAnswersViewModel
@{
    ViewBag.Title = "Quiz Index";
}
<div class="panel panel-default content-wrapper">
    <div class="panel-body">
        <h3>Answers</h3>
        @foreach (var quiz in Model.QuizGroups)
        {
            <div>
                <h4>@quiz.QuizTitle</h4>
                <p>@quiz.QuizIndustructions</p>
                <ol>
                    @{ 
                        var questions = quiz.Answers.GroupBy(a => a.QuestionText).Select(g => new { QuestionText = g.Key, Answers = g.ToList() });
                    }
                    @foreach (var question in questions)
                    {
                        <li><b>Q: </b>@question.QuestionText<br />
                            <ul>

                                @if (!quiz.AnswersOrderImportant && question.Answers.Count > 1)
                                {
                                    if (!question.Answers.All(x => x.IsCorrect))
                                    {
                                        <li><span class="incorrect-label"><strike>@string.Join(", ", question.Answers.Select(answer => answer.UserAnswer).ToArray())</strike></span></li>
                                    }
                                    else
                                    { 
                                        <li><span class="correct-label">@string.Join(", ", question.Answers.Select(answer => answer.CorrectAnswer).ToArray())</span></li>
                                    }
                                }
                                else
                                {
                                    foreach (var answer in question.Answers)
                                    {
                                        <li>
                                        @if (string.IsNullOrWhiteSpace(answer.UserAnswer))
                                        {
                                            <span class="incorrect-label">NO ANSWER</span>
                                        }
                                        else if (answer.IsCorrect || answer.CorrectAnswer.ToLower().Trim() == answer.UserAnswer.ToLower().Trim())
                                        {
                                            <span class="correct-label">@answer.CorrectAnswer</span>
                                        }
                                        else
                                        {
                                            <span class="incorrect-label"><strike>@answer.UserAnswer</strike></span>

                                            <span class="correct-label">@answer.CorrectAnswer</span>
                                        }
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ol>
            </div>
        }

        @if (!Model.HideNext)
        {
        <a asp-controller="Quiz" asp-action="GenerateSession" class="btn btn-success">Next Quiz Please</a>
        }
    </div>
</div>