@model SessionListViewModel
@{
    Layout = "_LayoutContentPage";
    ViewBag.Title = "Sessions";
    ViewBag.HeaderTitle = "Your Performance for Today";
}

<div class="row">
    <table class="col-md-2 result-for-the-day-table">
        <tr>
            <th class="text-right">Grade for Today</th>
            <td>
                <div id="daily-grade-container">

                </div>
            </td>
        </tr>
        <tr>
            <th class="text-right">Remark</th>
            <td class="grade @(Model.Remark == "Passed" ? "passed" : "failed")">@Model.Remark</td>
        </tr>
        <tr>
            <th class="text-right">Required Quiz for Today</th>
            <td>@Model.RequiredQuizes</td>
        </tr>
        <tr>
            <th class="text-right">Quizes Completed</th>
            <td>@Model.QuizesCompleted</td>
        </tr>
        <tr>
            <th class="text-right">Quizes Passed</th>
            <td>@Model.QuizesPassed</td>
        </tr>
        <tr>
            <th class="text-right">Quizes Failed</th>
            <td>@Model.QuizesFailed</td>
        </tr>
    </table>
</div>

<h2>Quizes Taken</h2>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            @if (!Model.UserSpecified)
            {
                <th>User</th>
            }
            <th>Quiz Title</th>
            <th>Status</th>
            <th>Correct Answers</th>
            <th class="hidden-xs">Quiz Item Count</th>
            <th class="hidden-xs">Date Taken</th>
            <th class="hidden-xs">Date Completed</th>
            <th>Session Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model.Sessions)
        {
        <tr class="@(session.SessionStatus != SessionStatus.Done.ToString() ? "session-list-row-ongoing" : 
                ((double)session.CorrectAnswerCount / session.QuizItemCount) * 100 >= Model.PassingGrade ? "success" : "danger")">
            @if (!Model.UserSpecified)
            {

                <td>@session.UserName</td>
            }
            <td><a asp-controller="Session" asp-action="ShowAnswers" asp-route-sessionId="@session.SessionId" asp-route-hideNext="true" asp-route-firstAnswers="true">@session.QuizTitle</a></td>
            <td>@session.SessionStatus</td>
            <td>@session.CorrectAnswerCount</td>
            <td class="hidden-xs">@session.QuizItemCount</td>
            <td class="hidden-xs">@session.DateTaken</td>
            <td class="hidden-xs">@session.DateCompleted</td>
            <td><a asp-controller="Quiz" asp-action="TakeQuiz" asp-route-sessionId="@session.SessionId" asp-route-hideNext="true">Link</a></td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript" src="~/scripts/sessionList.js"></script>
    <script type="text/javascript">
        SessionListUtilities.showScore(@Model.GradeAverage, '@Model.GradeAverage.ToString("F0")%');
    </script>
}