<!DOCTYPE html>

<html>
<head>
    <base href="/" /> <!-- Needed by Angular Routing -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/progressbar.js/dist/progressbar.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/styles/site.css" />
    @RenderSection("head", required: false)
</head>
<!-- 3. Display the application -->
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Quiz Maker</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Quiz" asp-action="Index">Quiz</a></li>
                    <li><a asp-area="" asp-controller="Session" asp-action="Index" asp-route-userId="@(UserManager.FindByNameAsync(User.Identity.Name).Result.Id)">Sessions</a></li>
                    @if (User.IsInRole("Super Administrator"))
                    {
                    <li><a asp-area="" asp-controller="QuizGroup" asp-action="Index">Quiz Groups</a></li>
                    <li><a asp-area="" asp-controller="QuizCategory" asp-action="Index">Categories</a></li>
                    <li><a asp-area="" asp-controller="ApplicationSetting" asp-action="Index">Settings</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Randal Vance Cunanan</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
