@model QuizCategoryListViewModel
@{
    Layout = "_LayoutContentPageWithToast";
    ViewBag.Title = "Categories";
}


<a asp-controller="QuizCategory" asp-action="Add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
<table class="table table-responsive table-bordered list-table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td><a asp-controller="QuizCategory" asp-action="Detail" asp-route-id="@category.QuizCategoryId">@category.Code</a></td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <th>
                    <a style="float: left; margin-right: 10px" asp-controller="QuizCategory" asp-action="Edit" asp-route-id="@category.QuizCategoryId"><span class="glyphicon glyphicon-pencil"></span></a>

                    <form style="float: left" asp-controller="QuizCategory" asp-action="Delete" asp-route-id="@category.QuizCategoryId" method="post">
                        <a class="delete-button" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('.delete-button').click(function (e) {
                var self = $(this);
                var form = self.parent('form');
                if (confirm("Are you sure you want to delete?")) {
                    form.submit();
                }

                e.preventDefault();
            });
        });
    </script>
}